#card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form input{
    margin: 10px 0px;
}

#resultado {
    color: green;
}