body {
    background-color: #0F0c29;
    color: white;
}
#navegation {
    text-align: center;
    font: 70px, arial;
}

#navegationList {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#navegationList li {
    padding: 10px; 
    list-style: none;
}

#navegationList a {
    text-decoration: none;
}
