{{>partials/header}}

    <h1 style="text-align: center;">LISTA DE JOGADORES</h1>

    {{#showWelcome}}
        Olá {{nome}}, seja bem vindo!
    {{/showWelcome}}

    <ul>
        <li>Neymar</li>
        <li>Messi</li>
        <li>Mbappe</li>
        <li>De Bruyne</li>
        <li>Modric</li>
    </ul>

{{>partials/footer}}