<title>Idade</title>
<link rel="stylesheet" href="/css/">

{{>partials/header}}

    {{#maior18}}
        <h1 style="color: green;">{{nome}} tem mais de 18 anos</h1>
    {{/maior18}}
    {{^maior18}}
        <h1 style="color: red;">{{nome}} tem menos de 18 anos</h1>
    {{/maior18}}

    {{#produtos}}
        <li>{{.}}</li>
    {{/produtos}}
    {{^produtos}}
        <p>Não temos produtos no momento.</p>
    {{/produtos}}

{{>partials/footer}}