<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mustache</title>
</head>
<body>

    <h1 style="text-align: center;">LISTA DE JOGADORES</h1>

    {{#showWelcome}}
        Olá {{nome}}, seja bem vindo!
    {{/showWelcome}}

    <ul>
        <li>Neymar</li>
        <li>Messi</li>
        <li>Mbappe</li>
        <li>De Bruyne</li>
        <li>Modric</li>
    </ul>
</body>
</html>