<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>header</title>
</head>
<body>

    <header id="header">
        <div id="navegation">
            <h1>Minha empresa</h1>
        </div>
        <div>
            <nav>
                <ul id="navegationList">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Ajuda</a></li>
                </ul>
            </nav>
        </div>
    </header>